body {
    font-family: 'Quicksand', sans-serif;
    color: #a1a1a1 !important;
}

@keyframes jackInTheBox {
    from {
        opacity: 0;
        -webkit-transform: scale(0.1) rotate(30deg);
        transform: scale(0.1) rotate(30deg);
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }
    50% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    70% {
        -webkit-transform: rotate(3deg);
        transform: rotate(3deg);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.animate {
    animation: jackInTheBox 0.25s linear forwards;
}

.box-1 {
    box-shadow: 5px 0 20px 0px #aaa;
    z-index: 9999999;
}

.box-2 {
    box-shadow: -1px 0 15px 0px #aaa;
    z-index: 99999;
}

#picker .day-box>* {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

#n-month li {
    padding: 0.5rem 1.75rem !important;
}

@media(max-width: 768px) {
    #picker .day-box>* {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

/* Hover Style */

.active-picker {
    background-color: #1F3A58 !important;
}

.active-picker-hover:hover {
    background-color: #1F3A58 !important;
    transition: background-color 0.15s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.pointer {
    cursor: pointer;
}

.icon-picker {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.icon-picker-hover:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/*  */

.day-font-size {
    font-size: 150%;
}

.m-bg {
    background-color: #284B72;
    color: #fff;
}

.s-bg {
    background-color: #1F3A58;
    color: #fff;
}

.m-text {
    color: #284B72;
}